# Nova Ecosystem Firebase (NovaCloud project)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBcz9cKb3rtqw2WlxU3SSy89Lp1Z3CnKKE
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=novacloud-2dd72.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=novacloud-2dd72
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=novacloud-2dd72.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=807373211833
NEXT_PUBLIC_FIREBASE_APP_ID=1:807373211833:web:05ff2501c813b0e4897368
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-C1TKN16P9G
